#content {
  text-align: center
}

#stage {
  border: solid 1px #444;
}
#letters div{
  float: left;
  padding: 10px;
  margin: 2px;
  background-color: black;
  color: #fff;
}
#guessedLetters {
  display: inline-flex;

}
#guessedLetters p {
  font-size: 40px;
  font-weight: 700;
  padding: 2px;
}
#word {
  font-size: 30px;
  color: #222;
  letter-spacing: 0.25em;
	margin: 0.25em 0 0.4em 30px;
}

#word p {
  margin-right: 2px;
}

.gameStats {
  display: inline-flex;
  padding-right: 10px;
  letter-spacing: 0.75px;
  margin: 0.25em 0 0.4em 30px;
  text-decoration: underline;
  font-size: 18px;
  font-family: sans-serif;
}
.gameStats p {
  text-decoration: underline;
  font-size: 18px;
  font-family: sans-serif;

}
